body {
    font-family: "Roboto Mono", monospace;
    background-image: linear-gradient(to bottom, #000000, #50b6f1c2);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ilustracao {
    height: 50vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 16px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-height: 500px) {
    body {
        min-height: 800px;
    }
}

input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
    border-color: #41c8fd;
    box-shadow: inset #000 1px 1px 5px;
}

button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #41c8fd;
    color: #fff;
    font-size: 0.9rem;
    border: none;
    box-shadow: #000 2px 2px 5px;
}

button:active{
    background-color: #0c98cf;
    box-shadow: inset #000 1px 1px 5px ;
}

.resultado {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
}